* {
  box-sizing: content-box;
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  width: 100%;
  top: 2em;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-title {
  justify-self: center;
}

.page {
  height: 100vh;
}

#landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-image {
  background-image: url(public/assets/pooltable4.jpg);
  background-size: cover;
}

.hero-text {
  display: inherit;
  align-content: center;
  padding-left: 3em;
}

@media screen and (max-width: 700px) {
  #landing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hero-image {
    z-index: -1;
    grid-area: 1 / 1 / 2 / 2;
  }

  .hero-text {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    text-align: center;
    color: white;
  }
}
