@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Raleway:wght@400;500&display=swap');

:root {
  --body-background: #ebe7df;
  --header-accent: #439989;
  --base-color: #000a16;
  --subheader-color: #080b0e;
  --button-transition: #348986;
  --button-drop-shadow: #2c6875;
  --title-font: 'Patua One';
  --body-font: 'Raleway';
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
  font-family: var(--body-font), sans-serif;
  font-size: 62.5%;
  color: var(--base-color);
}

a,
a:active,
a:visited {
  color: var(--subheader-color);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  width: auto;
  /* min-width: 300px; */
  /* height: 3rem; */
  /* font-size: 1.5rem; */
  font-family: var(--body-font), sans-serif;
  font-weight: 500;
  color: var(--body-background);
  background-color: var(--header-accent);
  border-radius: 25px;
  border: 0.8px solid var(--button-drop-shadow);
  filter: drop-shadow(0 0 5px var(--button-drop-shadow));
  /* box-shadow: 0 0 7px #2c6879; */
  transition-duration: 1s;
  /* margin-top: -10rem; */
}

button:hover {
  cursor: pointer;
  background-color: var(--button-transition);
}

button:active {
  filter: drop-shadow(0 0 5px var(--button-drop-shadow));
  background-color: var(--button-transition);
  cursor: pointer;
  /* transform: translateY(2px); */
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  font-size: 1.2rem;
  height: 5rem;
}

nav a {
  color: var(--subheader-color);
  text-decoration: none;
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  height: 3px;
  width: 100%;
  background-color: var(--header-accent);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 450ms ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a button {
  font-size: 1.2rem;
  /* font-family: var(--body-font), sans-serif;
  font-weight: 500; */
  cursor: pointer;
  height: 35px;
  width: fit-content;
  margin-top: -0.3rem;
}

h1 {
  font-family: var(--title-font), cursive;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.header-title {
  justify-self: left;
  padding-left: 4rem;
  font-family: 'Patua One', cursive;
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
}

.page {
  height: 100vh;
}

.subpage {
  padding-top: 5rem;
  border-top: 2px solid black;
}

#landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero-image {
  background-image: url(/assets/pooltable4.jpg);
  background-size: cover;
}

#hero-text {
  display: inherit;
  align-content: center;
  padding-left: 2.5rem;
  font-size: 1.3rem;
}

#hero-text h3 {
  font-weight: 400;
}

#hero-title {
  font-size: clamp(2rem, 1rem + 10vw, 4rem);
  color: var(--header-accent);
}

#subheader {
  font-size: clamp(1rem, 0.5rem + 5vw, 2rem);
  margin-bottom: 2rem;
}

.subpage-header {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--subheader-color);
  margin-top: 2rem;
  margin-left: 2rem;
  text-decoration: solid underline var(--header-accent) 0.3rem;
  text-underline-offset: 0.28rem;
  text-decoration-skip-ink: none;
  display: inline;
}

svg {
  height: 30px;
  display: block;
  margin: auto;
}

#arrow-header {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
  margin-bottom: -0.1rem;
  color: var(--base-color);
  text-decoration: solid underline var(--header-accent) 2px;
  text-underline-offset: 0.3rem;
  text-decoration-skip-ink: none;
}

#hero-text #arrow {
  place-self: center;
  position: absolute;
  bottom: 0;
}

.about {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
}

#about-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#sunny {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sunny > img {
  border-radius: 50%;
  border: 2px solid black;
  align-self: center;
}

#desc-a {
  grid-area: 2 / 2 / 3 / 3;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  font-size: 1rem;
}

#desc-b {
  grid-area: 3 / 2 / 4 / 3;
  background-color: purple;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-right: 1rem;
  font-size: 1rem;
  text-align: right;
  position: relative;
}

#desc-b #arrow {
  align-self: center;
  position: absolute;
  bottom: 0;
}

#dylan {
  grid-area: 3 / 3 / 4 / 4;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-content: center;
}

#dylan > img {
  border-radius: 50%;
  border: 2px solid black;
  align-self: center;
}

.services {
  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
  grid-template-columns: auto;
  gap: 1rem;
}

.services-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.serviceBox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 5%;
  background-color: rgb(255, 255, 255, 0.9);
  filter: drop-shadow(0 0 5px #333);
  width: 28%;
  min-height: 300px;
}

.serviceBox h3 {
  text-align: center;
  padding-bottom: 0.7rem;
}

.serviceList {
  display: flex;
  justify-content: space-between;
}

#serviceName {
  font-size: 1.3rem;
}

#serviceCost {
  font-size: 1.2rem;
  font-style: italic;
}

#service-action {
  display: grid;
  grid-template-rows: min-content repeat(2, auto);
  row-gap: 1rem;
  margin-top: 1rem;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

#service-action h2 {
  font-size: clamp(0.7rem, 0.5rem + 5vw, 1rem);
  text-align: center;
  margin-bottom: -3rem;
}

#service-action button {
  min-width: 300px;
  font-size: clamp(1rem, 0.7rem + 5vw, 1.5rem);
  margin-top: -10rem;
  height: 3rem;
}

#service-action #arrow {
  position: absolute;
  bottom: 0;
  align-self: center;
}

.contact {
  display: grid;
  justify-items: center;
  /* align-items: center;
  align-content: space-evenly; */
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10rem;
}

.contact-header {
  font-size: clamp(1.2rem, 0.9rem + 5vw, 1.7rem);
  font-weight: 500;
  text-align: center;
}

.contact-subheader {
  font-size: clamp(0.7rem, 0.4rem + 5vw, 1.2rem);
  font-weight: 400;
  margin: 2rem 0;
}

input[id='contact'] {
  width: 100%;
  min-width: 500px;
  font-size: 1.2rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: var(--body-font), sans-serif;
  border-radius: 5px;
  border: 1px solid var(--base-color);
  background-color: rgb(255, 255, 255, 0.6);
}

input[id='contact']:focus {
  border: 2px solid var(--header-accent);
  outline: none;
}

textarea {
  width: 100%;
  min-width: 500px;
  font-size: 1rem;
  font-family: var(--body-font), sans-serif;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255, 0.6);
}

textarea:focus {
  border: 2px solid var(--header-accent);
  outline: none;
}

#messageForm {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: center;
  align-self: flex-start;
  margin-top: 1rem;
}

#messageForm input[type='submit'] {
  width: 100%;
  font-size: clamp(1rem, 0.5rem + 5vw, 1.2rem);
  background-color: var(--header-accent);
  border: 1px solid var(--button-transition);
  border-radius: 25px;
  filter: drop-shadow(0 0 5px var(--button-drop-shadow));
  color: var(--body-background);
  padding: 0.5rem;
  cursor: pointer;
  transition-duration: 1s;
}

#subscribe {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: space-evenly;
  margin-top: 1rem;
  align-self: flex-start;
}

#signup {
  align-self: center;
  display: inline;
}

input[id='newsletter'] {
  min-width: 500px;
  font-size: 1.2rem;
  font-family: var(--body-font), sans-serif;
  padding: 0.5rem;
  margin-right: 0.4rem;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.6);
}

input[id='newsletter']:focus {
  border: 2px solid var(--header-accent);
  outline: none;
}

#signup input[type='submit'] {
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--header-accent);
  border: 1px solid var(--button-transition);
  border-radius: 25px;
  filter: drop-shadow(0 0 5px var(--button-drop-shadow));
  color: var(--body-background);
  font-family: var(--body-font), sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 0.5rem + 5vw, 1.2rem);
  cursor: pointer;
  transition-duration: 1s;
}

#messageForm input[type='submit']:hover,
#signup input[type='submit']:hover {
  background-color: var(--button-transition);
}

#call {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;
}

#call p {
  margin-top: 2rem;
}

.call-name {
  font-size: clamp(1rem, 0.7rem + 5vw, 1.5rem);
  font-weight: 500;
  margin-right: 1.5rem;
}

.call-number {
  font-size: clamp(1rem, 0.7rem + 5vw, 1.3rem);
}

.fadeIn {
  animation: 1.7s slide-up;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .fadeIn {
    animation: none;
  }
}

.footer {
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 40em) {
  #landing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #hero-image {
    z-index: -1;
    grid-area: 1 / 1 / 2 / 2;
  }

  #hero-text {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    text-align: center;
    color: white;
  }

  #hero-title {
    color: white;
  }

  .about {
    grid-template-rows: auto repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  #about-header {
    grid-area: 1 / 1 / 2 / 2;
  }

  #sunny {
    grid-area: 2 / 1 / 3 / 2;
  }

  #desc-a {
    grid-area: 3 / 1 / 4 / 2;
  }

  #dylan {
    grid-area: 4 / 1 / 5 / 2;
  }

  #desc-b {
    grid-area: 5 / 1 / 6 / 2;
    text-align: left;
    padding: 1rem;
  }
}
